<div class="social-buttons">
        
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
        class="twitter-share-button" 
        data-show-count="false">Tweet</a>

        
    <div class="fb-share-button" 
        data-href="https://williamkramps.gitlab.io/{{ output_file }}" 
        data-layout="button" data-size="small">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwilliamkramps.gitlab.io%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
            Poster sur Facebook</a>
    </div>
  
</div>