<h3 style="text-align: center">me contacter</h3>
<div class="icons">
    {% if PROTONMAIL %}
    <a href="mailto:{{ PROTONMAIL }}" target="_blank"><i class="far fa-envelope"></i></a>
    {% endif %}
    {% if TWITTER %}
    <a href="{{ TWITTER }}" target="_blank"><i class="fab fa-twitter"></i></a>
    {% endif %}
    {% if FACEBOOK %}
    <a href="{{ FACEBOOK }}" target="_blank"><i class="fab fa-facebook"></i></a>
    {% endif %}
    {% if REDDIT %}
    <a href="{{ REDDIT }}" target="_blank"><i class="fab fa-reddit"></i></a>
    {% endif %}
    {% if DIIGO %}
    <a href="{{ DIIGO }}" target="_blank"><i class="fas fa-hdd"></i></a>
    {% endif %}
</div>