{% macro social() -%}

    <a href="mailto:william.kramps@protonmail.com" target="_blank"><i class="far fa-envelope"></i></a>
    <a href="https://twitter.com/William_Kramps" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/william.kramps.63" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.reddit.com/r/clermontfd" target="_blank"><i class="fab fa-reddit"></i></a>
    <a href="https://www.mixcloud.com/william-kramps/" target="_blank"><i class="fab fa-mixcloud"></i></a>
    <a href="https://www.diigo.com/user/williamkramps" target="_blank"><i class="fas fa-hdd"></i></a>

{%- endmacro %}